@import "./../../variables";

.container {
  display: flex;
  flex-direction: column;
  width: 500px;
  @media screen and (max-width: 500px) {
    width: 90%;
  }
  padding-left: 1.5em;
  padding-bottom: 1.5em;
  padding-right: 1.5em;
  .__labels {
    margin-top: 30px;
    font-weight: bold;
    font-size: 15px;
  }
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 25px;
  .__margin {
    margin-right: 5px;
  }
  .__create-button {
    background-color: $color-blue;
    color: white;
    border-radius: 3px;
    box-shadow: none;
    width: 90px;
    font-size: 17px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
  .__create-button:hover {
    background-color: $color-black;
  }
}
